<div class="container-fluid">
    <div class="header bg-success">
      header section of website
    </div>
    <div class="content">
      <div class="row">
        <div class="col-2 sidebar">
          Left sidebar
        </div>
        <div class="col-8 main-content">
          main content Prabhanjan Kurremula
        </div>
        <div class="col-2 sidebar">
          right side bar
        </div>
      </div>
    </div>
    <div class="footer bg-warning">
      footer section of website
    </div>
  </div>